

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.none{
    display: none;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
}

.icono-nav{
    display: none;
}

.icono-nav {
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: rgb(201, 68, 68);
}

.lista-nav ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.lista-nav ul li a{
    color: white;
}

.lista-nav ul li a:hover{
    color: rgb(201, 68, 68);
}

.redes{
    display: flex;
    gap: 20px;
}

.redes a{
    color: white;
}

.redes a:hover{
    transform: scale(1.5);
    color: rgb(201, 68, 68);
}

header{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(./Fondo.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.cabecera{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.cabecera .nombre{
    font-size: 25px;
    color: rgb(201, 68, 68);
}

.cabecera p{
    font-size: 20px;
}

.botonDescargar{
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
}

.sobreMi .botonDescargar{
    color: black;
    border-color: black;
}


.cabecera button:hover{
    background-color: rgb(201, 68, 68);
}

.sobreMi{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.sobreMi .imagen{
    justify-self: center;
    width: 500px;
    margin-bottom: 20px;
}

.sobreMi .imagen img{
    width: 100%;
    border: 15px solid lightgray;
    border-radius: 8px;
}

.sobreMi .informacion h2:nth-child(1){
    display: inline;
    border-bottom: 10px solid lightgray;
}

.sobreMi .informacion h1 .nombre{
    color: rgb(201, 68, 68);
}

.sobreMi .informacion p{
    font-size: 20px;
    font-weight: 300;
    color: gray;
}

.servicios{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios h1,.misProyectos h1{
    display: inline;
    text-align: center;
    border-bottom: 10px solid rgb(139, 139, 139);
}

.tarjetas,.proyectos{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 20px;
}

.tarjeta{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 8px;
    width: 350px;
    height: 300px;
}

.tarjeta h2{
    text-align: center;
}

.tarjeta i{
    background: gray;
    border-radius: 50%;
    padding: 20px;
}

.tarjeta p{
    text-align: center;
    padding: 0 50px;
}


.tarjeta:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.habilidades{
    background: url(/Fondo.jpg);
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades h1{
    color: white;
    font-size: 40px;
}

.misProyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyecto{
    position: relative;
    width: 400px;
    height: 200px;
    cursor: pointer;
}

.proyecto img{
    width: 100%;
    position: absolute;
    height: 100%;
    filter: grayscale(100%);

    /* object-fit: cover; */
}

.proyecto:hover img{
    animation-name: cambioDeColorImagen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes cambioDeColorImagen{
  0% {filter: grayscale(100%)}
  25% {filter: grayscale(75%)}
  50% {filter: grayscale(50%)}
  75% {filter: grayscale(25%)}
  100% {filter: grayscale(0%)}
} 

@keyframes aparecetTexto{
    0% {bottom: -15px;}
    25% {bottom: -10px;}
    50% {bottom: -5px;}
    75% {bottom: -2px;}
    100% {bottom: 0px;}
}

.proyecto:hover div{
    color: rgb(201, 68, 68);
    display: block;
    animation: aparecetTexto .5s;
    overflow: hidden;
}

.proyecto div{
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* padding: 20px 10px; */
}

.proyecto p{
    /* position: absolute; */
    font-size: 25px;
    margin: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}


.contacto{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contacto h1{
    text-align: center;
    margin: 20px auto;
    border-bottom: 10px solid lightgray;
}

.contacto .inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacto input,.contacto textarea{
    border-radius: 8px;
    border:1px solid lightgray;
    font-size: 25px;
}

.contacto button{
    margin: 0 auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contacto button:hover{
    cursor: pointer;
    background-color: rgb(201, 68, 68);
    color: white;
}

.enProceso::after{
    content: "En Proceso";
    letter-spacing: 20px;
    font-size: 30px;
    color: rgb(139, 139, 139);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    padding: 0 20px;
}


.fondoEnProceso{
    background-color: rgba(0,0,0,.7);
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0);
    color: white;
    padding-bottom: 20px;
}

@media (max-width: 1250px){
    .sobreMi .imagen{
        width: 400px;
    }
}

@media (max-width: 1200px){
    .servicios .tarjetas{
        grid-template-columns: 1fr 1fr;
    }
    .proyectos{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1000px){
    .sobreMi .imagen{
        width: 200px;
    }
}

@media (max-width:785px) {
    .lista-nav{
        display: none;
    }

    .icono-nav{
        display: block;
    }

    .sobreMi{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .servicios .tarjetas{
        grid-template-columns: 1fr;
    }

    .proyectos{
        grid-template-columns: 1fr;
    }
    
}
